body{
    background: #ffffff;
  /*  background: linear-gradient(to bottom,  #ffffff 30%,#250000 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0c57b', endColorstr='#e2947a',GradientType=0 );
 
}
*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

input{
  margin: 5px;
}

#input-male, #input-female {
  margin-left: 10px;
}

#flatpickr{
    width: 100px;
}
li.timeleft {
    list-style: none;
}

.timer__text{
    text-align: center;
    margin-right: 10rem;
    margin-bottom: 0;
    font-size: 28px;
}

.timer__items {
    display: flex;
    font-size: 48px;
  }
  .timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
  }
  .timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
  }
  .timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
  }
  .timer__days:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -20px;
  }
