body{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#999999+0,eff7ea+8,eff7ea+92,999999+100 */
background: #999999; /* Old browsers */
background: -moz-linear-gradient(left,  #999999 0%, #eff7ea 8%, #eff7ea 92%, #999999 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #999999 0%,#eff7ea 8%,#eff7ea 92%,#999999 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #999999 0%,#eff7ea 8%,#eff7ea 92%,#999999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#999999',GradientType=1 ); /* IE6-9 */

}
*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

input{
  margin: 5px;
}

#input-male, #input-female {
  margin-left: 10px;
}

#flatpickr{
    width: 100px;
}
li.timeleft {
    list-style: none;
}

.timer__text{
    text-align: center;
    margin-right: 10rem;
    margin-bottom: 0;
    font-size: 28px;
}

.timer__items {
    display: flex;
    font-size: 48px;
  }
  .timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
  }
  .timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
  }
  .timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
  }
  .timer__days:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -20px;
  }

  .c_view {
    border: 0;
    background: #EFF7EA;
    appearance: none;
    font-weight: bolder;
    color: #00369b;
  }

  .daysM{
    font-size: 11px;
    letter-spacing: -0.08em;
    line-height: 0.89em;
  }

  .weeksM{
    font-size: 14px;
    letter-spacing: -0.09em;
    line-height: 0.9em;
  }

  .monthsM{
    font-size: 20px;
    letter-spacing: -0.03em;
    line-height: 0.99em;
  }

  .yearsM{
    font-size: 36px;
  }